{% extends "layout.html" %}
{% block content %}
<div class="home-grid">
<div class="main-block">
<h3>Getting started with USDA</h3>
<ul>
<li>1  <strong>Create your USDA account</strong><br/>
Fill out <a href="https://www.fsa.usda.gov/Internet/FSA_File/ad2047.pdf" target="_blank">Form AD 2047</a> to create your account in the USDA system.</li>
<li>12  <strong>Create a Farm Record</strong><br/>
Provide proof of land ownership or control. You will receive a USDA farm number, which is required when filing your acreage report and other forms.</li>
<li>13  <strong>Land preservation</strong><br/>
Fill out <a href="https://www.fsa.usda.gov/Internet/FSA_File/ad1026.pdf" target="_blank">Form AD 1026</a> to certify compliance with Highly Erodible Land and Wetland Conservation requirements for USDA program eligibility.</li>
<li>14  <strong>Income qualification</strong><br/>
Fill out <a href="https://www.fsa.usda.gov/Internet/FSA_File/ccc0941.pdf" target="_blank">Form CCC 941</a> to Certify that your average adjusted gross income does not exceed the USDA limit of $900,000.</li>
<li>15  <strong>Farm operation plan</strong><br/>
Fill out <a href="https://www.fsa.usda.gov/Internet/FSA_File/ccc0902ind.pdf" target="_blank">Form CCC 902</a> to describe your farm’s structure, labor, land, and capital contributions. This determines payment eligibility.</li>
<li>16  (Optional) Qualify for special assistance</strong><br/>
Fill out <a href="https://www.fsa.usda.gov/Internet/FSA_File/ccc0860.pdf" target="_blank">Form CCC-860</a> if you are a socially disadvantaged, limited resource, beginning, or veteran farmer or rancher. This could give you access to more grants.</li>
<li>17  <strong>Setup direct deposit to your bank account</strong><br/>
Fill out <a href="https://www.fsa.usda.gov/Internet/FSA_File/sf3881.pdf" target="_blank">Form SF 3881</a> to receive FSA grant payments.<br/>
Fill out <a href="https://www.gsa.gov/forms-library/direct-deposit-signup-form" target="_blank">Form SF 1199A</a> to receive NRCS payments.</li>
</ul>
</div>
<div class="main-block">
<h3>Now you are ready to file your acreage report, and get paid!</h3>
</div>
</div>